
<div class="col-md-4 panel panel-default" id="list_column">
  <h1><%= @bank.name %> </h1>


  <% if @bank.children.any? %>
  <ul id="child_list">
    <h3>Children in your Bank:</h3>
    <%= link_to "Add another child", new_child_registration_path(:bank => @bank.id)   %>
    <% @bank.children.each do |child| %>
      <li><%= child.username %> <span id="show_view_account_<%=child.id%>"></span>
      <% if !child.account %>
        <%= link_to "Start Account", new_child_account_path(child), id: "new_account_#{child.id}", remote: true %>
      <% else %>
        <%= link_to "View Account", child_account_path(child, child.account), id: "view_account_#{child.id}"  %>
      <% end %>
      </li>
    <% end %>
  </ul>
  <% else %>
    <h4>No accounts yet.</h4>
    <%= link_to "Add a child to your bank", new_child_registration_path(:bank => @bank.id)   %>
  <% end %>
</div>

<div class="col-md-7">
  <center><h3>Bank Activity</h3></center>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script type="text/javascript">
    google.load('visualization', '1', {'packages':['corechart']});
  </script>
  <% if @bank.transactions.any? %>
    <%= line_chart @chart_children.map{|child|
      {name: child.first_name, data: child.account.transactions.group_by_day(:created_at).sum(:amount)}
    } %>
  <% end %>

  <div class="parent_request_view">
    <%= render "requests/requests" %>
  </div>


</div>
