<%= render 'layouts/errors', :object => @request %>

<%= form_for @request, remote: true do |f| %>
<div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>

<div class="form-group">
    <%= f.label :request_type, "Request Type:" %>
    <%= f.label "Deposit" %>
    <%= f.radio_button :request_type, "Deposit", value: "Deposit"  %>
    <%= f.label "Withdrawal" %>
    <%= f.radio_button :request_type, "Withdrawal", value: "Withdrawal" %>
</div>

<div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, :step => 'any' %>
</div>

    <%= f.hidden_field :parent_id, :value => Parent.find(params[:parent]).id %>
    <%= f.hidden_field :child_id, :value => Child.find(params[:child]).id %>

<%= f.submit "Request transaction" %>

<% end %>
