<%= render 'layouts/errors', :object => @request %>

<%= form_for @request, remote: true do |f| %>
<div class="form-group">
    <%= f.label :description, "What is this money for?" %>
    <%= f.text_field :description %>
</div>


<div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, :step => 'any' %>
</div>

    <%= f.hidden_field :parent_id, :value => Parent.find(params[:parent]).id %>
    <%= f.hidden_field :child_id, :value => Child.find(params[:child]).id %>

    <% if params[:deposit] == "true" %>
      <%= f.hidden_field :request_type, :value => "Deposit" %>
    <% elsif params[:withdrawal] == "true" %>
      <%= f.hidden_field :request_type, :value => "Withdrawal" %>
    <% end %>

<%= f.submit "Request transaction" %>

<% end %>
