<div "panel panel-default" id="requests_table">
  <center><h3> Pending Requests</h3></center>
  <table class="table table-striped" id="requests">

    <tr>
      <th>Date requested</th>
      <th>Username</th>
      <th>Type</th>
      <th>Description</th>
      <th>Amount </th>
    </tr>
  <% if @requests.any? %>

    <% @requests.each do |request| %>
      <tr id="request_<%=request.id%>">
        <td><%= request.created_at.strftime("%m-%d-%Y") %></td>
        <td><%= request.child.username %></td>
        <td><%= request.request_type %></td>
        <td><%= request.description %></td>
        <td><%= number_to_currency request.amount %></td>
        <% if current_parent %>
        <td><%= button_to "Approve", account_transactions_path(request.child.account, transaction: { :transaction_type => request.request_type, :description => request.description, :amount => request.amount, :request_id => request.id, :bank_id => request.child.bank.id}), method: :post %></td>
        <% end %>

      </tr>
    <% end %>
  <% else %>
      <center><h5>No Pending Requests</h5></center>
  </table>
  <% end %>
</div>
