<div id="requests_table">
  <h4> Pending Requests</h4>
  <table class="table" id="requests">

    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Amount </th>
    </tr>
  <% if @requests.any? %>

    <% @requests.each do |request| %>
      <tr id="request_<%=request.id%>">
        <td><%= request.request_type %></td>
        <td><%= request.description %></td>
        <td>$ <%= request.amount %></td>
        <% if current_parent %>
        <td><%= button_to "Approve", account_transactions_path(request.child.account, transaction: { :transaction_type => request.request_type, :description => request.description, :amount => request.amount, :request_id => request.id}), method: :post %></td>
        <% end %>

      </tr>
    <% end %>
  </table>
  <% end %>
</div>
