$('#modal_form').modal("hide");
$('#transaction_request_link').show()
$("#requests").append(" <tr> <td><%= @request.created_at.strftime("%m-%d-%Y") %></td>" +
                     "<td><%= @request.child.username %></td>" +
                     "<td><%=@request.request_type%></td>" +
                     "<td><%=@request.description%></td>" +
                     "<td><%=number_to_currency@request.amount%></td>" + "</tr>");
