

<div class="panel panel-default" id="transactions_table">
  <h4>Transaction History</h4>
  <% if parent_signed_in?%>
    <%= form_tag child_account_path(@child, @account), :method => 'get', id: "transactions_search", remote: true do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>

  <% elsif child_signed_in? %>
    <%= form_tag bank_child_path(@bank, @child), :method => 'get', id: "transactions_search", remote: true do  %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
  <% else %>
  <% end %>
</div>
