<div id="transactions_table">
  <h4>Transaction History</h4>
  <table class="table" id="transactions">

    <tr>
      <th>Date </th>
      <th>Username</th>
      <th>Type</th>
      <th>Description</th>
      <th>Amount </th>
    </tr>
  <% if @transactions.any? %>
  <%= will_paginate @transactions %>
    <% @transactions.each do |transaction| %>
      <tr id="transaction_<%=transaction.id%>">
        <td><%= transaction.created_at.strftime("%m-%d-%Y") %></td>
        <td><%= transaction.account.child.username %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.description %></td>
        <td>$ <%= transaction.amount %></td>

      </tr>
    <% end %>
  </table>
  <% end %>
</div>
