$('#new_account').hide()
$('#show_view_account_<%=@child.id%>').html('<a href="/children/<%=@child.id%>/accounts/<%=@account.id%>">View Account</a>' + ' | <a data-confirm="Are you sure?" data-method="delete" href="/children/<%=@child.id%>?parent=<%=@child.parent.id%>">Delete Account</a>');
