
<div class="row" id="parent_account_view">
  <div class="col-md-4 panel panel-default" id="parent_child_stats_panel">
    <div class="parent_account_stats">
      <h2> <%= @child.first_name %>'s Account </h2>
      <h3>Current balance: <span id="balance"><%=number_to_currency @account.total %></span></h3>
      <h5> Beginning Balance: <%=number_to_currency @account.beginning_balance %></h5>

      <%= link_to "Make a transaction", new_account_transaction_path(@account, :bank => "#{@child.bank.id}"), id: "new_transaction_link", remote: true %>
      <%= render 'layouts/modal' %>

    </div>
    <div id="parent_transaction_chart_view">
      <div id="parent_chart_view">
      <script type="text/javascript">
        google.load('visualization', '1', {'packages':['corechart']});
      </script>
        <%= render 'line_chart' %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div id="parent_transactions_list_view">
      <div class="panel panel-default" id="transactions_table">
        <%= render 'accounts/transactions' %>
        <div id="transactions">
          <%= render 'accounts/transactions_list' %>
        </div>
      </div>
    </div>
  </div>
</div>
