<h3> <%= @child.first_name %>'s Account </h3>

<p> Beginning Balance: <%= @account.beginning_balance %></p>
<p>Current balance: <span id="balance"><%= @account.total %> </p></span>
<br>

<% if current_parent %>
<%= link_to "Make a transaction", new_account_transaction_path(@account), id: "new_transaction_link", remote: true %>
<% end %>


<%= render 'transactions' %>


<%= render 'line_chart' %>
