<h2> <%= @child.first_name %>'s Account </h2>

<p> Beginning Balance: <%=number_to_currency @account.beginning_balance %></p>
<p>Current balance: <span id="balance"><%=number_to_currency @account.total %> </p></span>
<br>

<% if current_parent %>
<%= link_to "Make a transaction", new_account_transaction_path(@account, :bank => "#{@child.bank.id}"), id: "new_transaction_link", remote: true %>
<%= render 'layouts/modal' %>
<% end %>

<div class="panel panel-default" id="transactions_table">
  <%= render 'accounts/transactions' %>
  <div id="transactions">
    <%= render 'accounts/transactions_list' %>
  </div>
</div>

<div class="transaction_chart">

  <%= render 'line_chart' %>
</div>
